body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(0deg, #939bb0 0%, #a0cde0 100%);
}

.header {
  min-height: 4rem;
  background-color: #fbef9d;
  margin-bottom: 3rem;
}

.header-date {
  text-align: center;
  padding-top: 0.8rem;
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
}

.header-date span {
  font-weight: 700;
}
