body
  font-family: 'Roboto Mono', monospace
  background: linear-gradient(0deg, rgba(107,64,248,1) 0%, rgba(255,99,185,1) 100%)
.header
  min-height: 4rem
  background-color: #301e4e
  margin-bottom: 3rem
  &-date
    text-align: center
    padding-top: 0.8rem
    color: #ffffff
    font-weight: 400
    font-size: 1.4rem
    span
      font-weight: 700

.main
  box-shadow: 0 0 20px rgba(0,0,0,0.5)
  margin: auto
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  width: 70%
  height: 70vh
  border-radius: 10px
  color: #ffffff

.location, 
.temperature
  height: 30vh
  width: 50%
  display: flex
  justify-content: space-around
  align-items: center

.temperature
  flex-direction: column
    
.degree-section
  display: flex
  align-item: center
  cursor: pointer
  span
    margin : 10px
    font-size: 30px
  h2
    font-size: 40px
    
