body
  font-family: 'Roboto Mono', monospace
  background: linear-gradient(0deg, #939bb0 0%, #a0cde0 100%)
.header
  min-height: 4rem
  background-color: #fbef9d
  margin-bottom: 3rem
  &-date
    text-align: center
    padding-top: 0.8rem
    color: black
    font-weight: 400
    font-size: 1.4rem
    span
      font-weight: 700

// .main
//   display: block
//   box-shadow: 0 0 20px rgba(0,0,0,0.5)
//   border-radius: 10px
//   background-color: #fff
//   align-items: center


// .week-item
//   display: inline-block
//   img
//     margin: 0 1.5rem
//     height: 2rem
//     width: 2rem

















//   &-first
//     height: 15rem
//     display: flex
//     justify-content: center
//     flex-direction: column
//     align-items: center

// .location, 
// .temperature
//   height: 30vh
//   width: 50%
//   display: flex
//   justify-content: space-around
//   align-items: center

// .temperature
//   flex-direction: column
    
// .degree-section
//   display: flex
//   align-item: center
//   cursor: pointer
//   span
//     margin : 10px
//     font-size: 30px
//   h2
//     font-size: 40px
    
