body
  font-family: 'Roboto Mono', monospace
  background: rgb(107,64,248)
  background: linear-gradient(0deg, rgba(107,64,248,1) 0%, rgba(255,99,185,1) 100%)
.header
  min-height: 4rem
  background-color: #301e4e
  margin-bottom: 3rem
  &-date
    text-align: center
    padding-top: 0.8rem
    color: #ffffff
    font-weight: 400
    font-size: 1.4rem
    span
      font-weight: 700

.main
  box-shadow: 0 0 20px rgba(0,0,0,0.5)
  margin: auto
  width: 70%
  height: 20rem
  border-radius: 10px
  &-now
    
